.book-icon {
  width:4rem;
  height: 5rem;
  background: no-repeat center/95% url(../final-icons/photo-processing/book-imgs/imageedit_5_8489626966.png);
}

.book-icon:nth-child(2) {
  background: no-repeat center/95% url(../final-icons/photo-processing/book-imgs/green-book.png);
}

.book-icon:nth-child(3) {
  background: no-repeat center/95% url(../final-icons/photo-processing/book-imgs/pink-cook.png)
}
.book-icon:nth-child(4) {
  background: no-repeat center/95% url(../final-icons/photo-processing/book-imgs/purple-book.png)
}
.book-icon:nth-child(5) {
  background: no-repeat center/95% url(../final-icons/photo-processing/book-imgs/yellow-book.png)
}

/* 
.week-circle {
  border: solid;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
} */

#week-circles-container {
  display: flex;
}

input[type='checkbox'].check-custom ~ .check-toggle-challenge {
    width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid magenta;
  border-radius: 50%;
  cursor: pointer;

}

input[type='checkbox'].check-custom:checked ~ .check-toggle-challenge {
  border-color: #020200;
  background: #17ff49 url('') center no-repeat;
  background-size: 75%;
}