.book-icon {
  width:5rem;
  height: 6rem;
  display: flex;
  align-items: center;
  background: no-repeat center/99% url(../final-icons/photo-processing/book-imgs/imageedit_5_8489626966.png);
}

.book-icon:nth-child(2) {
  background: no-repeat center/99% url(../final-icons/photo-processing/book-imgs/green-book.png);
}

.book-icon:nth-child(3) {
  background: no-repeat center/99% url(../final-icons/photo-processing/book-imgs/pink-cook.png)
}
.book-icon:nth-child(4) {
  background: no-repeat center/99% url(../final-icons/photo-processing/book-imgs/purple-book.png)
}
.book-icon:nth-child(5) {
  background: no-repeat center/99% url(../final-icons/photo-processing/book-imgs/yellow-book.png)
}


.book {

}


#week-circles-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
}

/* 
.week-circle {
  border: solid;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
} */

#week-circles-container {
  display: flex;
}

#bookshelf {
  margin-top: 2rem;
}


#bookshelf-container {
  display: flex;
  justify-content: center;
}

input[type='checkbox'].check-custom ~ .check-toggle-challenge {
    width: 4rem;
  height: 4rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid magenta;
  border-radius: 50%;
  cursor: pointer;

}

input[type='checkbox'].check-custom:checked ~ .check-toggle-challenge {
  border-color: #020200;
  background: url(../final-icons/photo-processing/1445205-reward-and-medal/svg/002-badge-1.svg) center no-repeat;
  background-size: 75%;
}

.inner-progress {
  
}