#journal-container {
  background-color: rgb(137, 141, 141);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 780px;
  /* text-align: center; */
}

#index-container {
  /* background-color: rgba(146, 48, 202, .1); */
}

.tabs {
  writing-mode: vertical-rl;
  
}

.tab {
  background-color: rgb(251,37,231, .8);;
  cursor: pointer;
}

#progress-bar-container {
  display: flex;
  justify-content: center;
}

.tabs-container {
  display: flex;
}

h3 {
  text-align: center;
}

#pageclick {
  cursor: pointer;
}


.journal-spread {
  /* background-image: url('../images/IMGS/dot-grid.png'); */
  width: 48%;
  padding: 2%;
  height: 750px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: whitesmoke;
  border-radius: 1px;

  
}

#grid-container {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

#journal-cover {
  width: 100px;
  height: 110px;
  
}


.list-input {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-bottom: 1px solid black;
}

.selector-title {
  text-align: center;
}

.left-page {
  display: flex;
  flex-direction: column;
  width: 47%;
  /* justify-content: space-around; */
}

.right-page {
  width: 48%;
}

#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#dashboard-container {
  /* background-image: url('../assets/bujo-images/svgs/potential.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  
}


#months-container{
  display: flex;
  justify-content: space-around;
  
  

}

h5 {
  text-align: center;
}

h2 {
  margin: 0;
  padding-bottom: 3%;
}

.month-card {
  height: 80px;
  width: 200px;
  
  box-shadow: 0 4px 8px 0 rgba(42,222,40);
  /* 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* neongreen: rgb(109,241,45);
green: rgb(42,222,40);
cyan: rgb(35,206,253);
blue: rgb(17,98,250);
purple: 'rgb(132,37,250)';
pink: rgb(251,37,231);
darkpink: rgb(251,17,91);
red: rgb(252,29,28);
redorange: rgb(252,67,30);
orange: rgb(253,112,34);
ltorange: rgb(253,162,40);
yellow: rgb(253,222,50); */


#bookshelf {
  display: flex;
  border: indigo 1px solid;
  width: 20rem;
  height: 30rem;
}

#row-1, #row-2, #row-3 {
  border-bottom: 1px solid indigo;
  width: 75%;
}




.month-card:nth-child(2) {
   box-shadow: 0 4px 8px 0 rgba(35,206,253);
}
.month-card:nth-child(3) {
   box-shadow: 0 4px 8px 0 rgba(17,98,250);
}
.month-card:nth-child(4) {
   box-shadow: 0 4px 8px 0 rgba(132,37,250);
}
.month-card:nth-child(5) {
   box-shadow: 0 4px 8px 0 rgba(251,37,231);
}
.month-card:nth-child(6) {
   box-shadow: 0 4px 8px 0 rgba(252,29,28);
}
.month-card:nth-child(4) {
   box-shadow: 0 4px 8px 0 rgba(17,98,250);
}
.month-card:nth-child(4) {
   box-shadow: 0 4px 8px 0 rgba(17,98,250);
}

#circles-container {
  display: flex;
  flex-direction: column;
  padding: 1%;
  padding-top: 4%;
  line-height: 2.5;
}

.circle {
  display: flex;
  justify-content: space-evenly;
}

.challenge {

}


#month-items {
  display: flex;
  align-items: flex-start;
  margin:0;
}

.tracker-grid {
  display: flex;
  /* border: 1px solid black; */
}

.input-box {
  padding: 2%;
  padding-top: 5%;
  text-align: center;
}

.grid-box {
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;

}

.item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

#todo {
  padding-left: 10px;
}

h2 {
  text-align: center;
  
  
}

.day {
  padding: 6px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.water-container {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  
}

#flagsimg {
  width: 95%;
}


#braindump-input {
  text-align: center;

}

#braindump-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#flag1 {
  background-image: url('../assets/bujo-images/blue-sticky.png');
}

#contents {
  text-align: left;
}

#templates-container {
  position:absolute;
  align-self: center;
  /* display: flex; */
  
  cursor: pointer;
  background-color: greenyellow;
  /* text-align: right; */
}

.container {
  /* background-image: url('../assets/bujo-images/turq-sticky.png'); */
  background-color: yellow;
  width: max-content;
  padding: 10px;
  background-size: cover;
  position: absolute;
}

#top-dash {
  display: flex;
  justify-content: space-between;
}

#timer-container {
  position: relative;
}

#add-page-box {
  position: relative;
  justify-self: center;
  bottom: 30px;
}