#journal-container {
  background-color: rgb(0, 233, 221);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-align: center; */
}

#index-container {
  background-color: rgb(146, 48, 202);
}

.journal-spread {
  /* background-image: url('../images/IMGS/dot-grid.png'); */
  width: 48%;
  padding: 2%;
  height: 650px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: whitesmoke;
  border-radius: 1px;
  
}

#grid-container {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

#journal-cover {
  width: 100px;
  height: 110px;
  
}


.list-input {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-bottom: 1px solid black;
}

