* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
}

#testing {
  width: 90px;
  height: 119px;
  background-image: url('./components/assets/bujo-images/svgs/Untitled\ \(9\).svg');
}

html {
  height: 100%;
}
body {
  height: 100vh;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightcyan;
}


button:disabled,
button:disabled:hover {
  opacity: 0.5;
}

/* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: var(--redux-color);
  background: -moz-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: var(--redux-color);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


:focus {
  outline: 0;
}

.hidden {
  display: none;
}







.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

.todoapp section.todo-list {
  margin: 0;
}

.toggle-all:checked + label:before {
  color: #737373;
}

.todo-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

ul.todo-list {
  list-style: none;
}

.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li .view {
  display: flex;
  align-items: center;
}

.todo-list li .segment {
  display: flex;
  align-items: center;
}

.todo-list li .segment.label {
  flex-grow: 2;
}

.todo-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

.todo-list li .toggle {
  opacity: 0;
}

.todo-list li .toggle + .todo-text {
  /*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-list li .toggle:checked + .todo-text {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.todo-list li.completed label {
  color: #cdcdcd;
  text-decoration: line-through;
}


.todo-list li select.colorPicker option {
  font-weight: 700;
}

.todo-list li select.colorPicker option[value='green'] {
  color: green;
}

.todo-list li select.colorPicker option[value='blue'] {
  color: blue;
}

.todo-list li select.colorPicker option[value='orange'] {
  color: orange;
}

.todo-list li select.colorPicker option[value='purple'] {
  color: purple;
}

.todo-list li select.colorPicker option[value='red'] {
  color: red;
}

.todo-list li .destroy {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 30px;
  line-height: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  background: unset !important;
  border: unset !important;
  display: flex;
  justify-content: center;
  align-content: center;
}

.todo-list li .destroy:hover {
  color: #af5b5e;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 60%;
}

#desktop-nameplate {
  display: flex;
  justify-content: center;
}

/* Font-Awesome base icon rules */
.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}

.footer {
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
}



.footer .actions {
  display: flex;
  flex-direction: column;
}



.todo-count strong {
  font-weight: 600;
}

.filters {
  text-align: left;
}

.filters ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.filters.statusFilters li button {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  background: unset !important;
}

.filters.statusFilters li button:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters.statusFilters li button.selected {
  border-color: rgba(175, 47, 47, 0.3);
}

.filters.colorFilters .color-block {
  display: inline-block;
  width: 20px;
  height: 12px;
  border-radius: 3;
  margin-left: 5px;
  margin-right: 5px;
}




.info p {
  line-height: 1;
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.info a:hover {
  text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .toggle-all,
  .todo-list li .toggle {
    background: none;
  }

  .todo-list li .toggle {
    height: 40px;
  }
}

@media (max-width: 840px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .todoapp {
    min-width: inherit;
  }

  .todo-list li .view {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 5px;
  }

  .todo-list li .segment.buttons {
    justify-content: flex-end;
  }

  .filters {
    bottom: 10px;
  }
}

form.colorSelection label {
  margin: 0;
}

form.colorSelection input[type='checkbox'] {
  margin-right: 5px;
}

.bujo-icons {
  width: 100px;
}

.profile-button {
  display: flex;
  justify-content: flex-end;

}

#core-nav-container {
  display: flex;
  justify-content: right;
}

button {
  background-color: violet;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
}


input[type='checkbox'].check-custom {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input[type='checkbox'].check-custom ~ .check-toggle {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #969696;
  border-radius: 50%;
  cursor: pointer;
}

input[type='checkbox'].check-custom:hover ~ .check-toggle {
  border-color: #4a4a4a;
}

/* Styles for the focus state of the custom checkbox */
input[type='checkbox'].check-custom:focus ~ .check-toggle {
  border-color: #b0d5ff;
  box-shadow: 0 0 0 2px rgba(23, 133, 255, 0.25);
}

/* Styles for the checked state of the custom checkbox */
input[type='checkbox'].check-custom:checked ~ .check-toggle {
  border-color: #1785ff;
  background: #1785ff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
  background-size: 75%;
}

